<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QW_Http.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E41339A1FB42C0500DE530B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4133B31FB42C0500DE530B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E4133BE1FB42C0500DE530B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
